.card img {
    margin: 10px 10px 10px 10px;
    width: 50%;
    height: 50%;
}

p, ol, ul, dl{
    font-size: 1.2rem;
}

/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
    margin-top: -1em;
}

/* Centering text in each gray box */
div.css-1ht1j8u.e16fv1kl3 {
    text-align: center;
}

.css-1oglvfc {
    font-size:18px;
    padding-bottom: 2px;
}

/* Third line of Row */
div.css-wnm74r.e16fv1kl3 {
    margin-left: 30%;
    margin-right: 20%;
}

/* Row 1 */
/* div.css-1r6slb0.e1tzin5v2 {
    background-color: #8feb3d;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
} */

/* Row 2 */
div.css-12w0qpk.e1tzin5v2 {
    background-color: #e0e0ef;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

/* confusion matrix */
div.css-1kyxreq.etr89bj2 {
    width : 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}